
{% block pageinator %}
{% if post_list.has_other_pages %}

  <nav aria-label="Page navigation conatiner"></nav>
  <span> page {{page.number}} of  {{page.paginator.num_pages}}</span>
  <ul class="pagination justify-content-center">
 
    {% if post_list.has_previous %}
    <li><a href="?page={{ post_list.previous_page_number }}" class=" btn btn-primary btn-lg" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if post_list.has_next %}
    <li><a href="?page={{ post_list.next_page_number }}" class=" btn btn-danger btn-lg"  class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
{% endblock pageinator  %}